{
  "system": {
    "name": "Cloudchat",
    "url": "https://semplicebusiness.com.br",
    "color": {
      "lightTheme": {
        "palette": {
          "primary": "#8cb6fd",
          "secondary": "#3d64c0"
        },
        "toolbar": {
          "background-color": "#4d7df0"
        },
        "menuItens": "#ffffff",
        "sub": "#ffffff",
        "toolbarIcon": "#ffffff",
        "divide": "#E0E0E0"
      },
      "darkTheme": {
        "palette": {
          "primary": "#5a01a9",
          "secondary": "#e2d4ff",
          "background": {
            "default": "#080d14",
            "paper": "#181d22"
          },
          "text": {
            "primary": "#2a4482",
            "secondary": "#ffffff"
          }
        },
        "toolbar": {
          "background-color": "#000000)"
        },
        "menuItens": "#181d22",
        "sub": "#181d22",
        "toolbarIcon": "#181d22",
        "divide": "#080d14"
      }
    }
  }
}